<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block body %}{% endblock %}

<main>
    <div id="filmsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            {% for film in films %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="container d-flex align-items-center">
                    <div class="col-md-6">
                        <h2>{{ film.getId }} - {{ film.getTitre }}</h2>
                        <p>Réalisé en <b>{{ film.getAnnee }}</b> par <b>{{ film.getRealisateur }}</b></p>
                        {% for role in film.getRoles %}
                        <p>avec <u><i>{{ role.getActeur.getPrenom }} {{ role.getActeur.getNom }}</i></u> dans le rôle de <b>{{ role.getPersonnage }}</b></p>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <img src="{{film.getAffiche }}" class="img-fluid" alt="{{ film.getTitre }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="carousel-controls mt-4 text-center">
            <button class="btn btn-primary" type="button" data-target="#filmsCarousel" data-slide="prev">Previous</button>
            <button class="btn btn-primary" type="button" data-target="#filmsCarousel" data-slide="next">Next</button>
        </div>
    </div>
</main>


